# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.exe
*.test
*.prof

# vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# IDE and scratch files
.vscode/*.log
.idea/
*.xo
z-scratch/

# Binary files
cmd/benchmark/benchmark
examples/storage/storage

# Gorums generated backup files
cmd/protoc-gen-gorums/gengorums/template_static.go.bak

# Ignore the generated code for the tutorial example
examples/gorumsexample/storage.pb.go
examples/gorumsexample/storage_gorums.pb.go

go.work.sum
branch-compare-*
