
{{/* Remember to run 'make goldenanddev' after editing this file. */}}

{{$pkgName := .PackageName}}

{{if not .IgnoreImports}}
package {{$pkgName}}

import "golang.org/x/net/context"
{{end}}

{{range $elm := .Services}}

{{if .Multicast}}

// {{.MethodName}} is a one-way multicast operation, where args is sent to
// every node in configuration c. The call is asynchronous and has no response
// return value.
func (c *Configuration) {{.MethodName}}(ctx context.Context, args *{{.FQReqName}}) error {
	return c.mgr.{{.UnexportedMethodName}}(ctx, c, args)
}

func (m *Manager) {{.UnexportedMethodName}}(ctx context.Context, c *Configuration, args *{{.FQReqName}}) error {
	for _, node := range c.nodes {
		go func(n *Node) {
			err := n.{{.MethodName}}Client.Send(args)
			if err == nil {
				return
			}
			if m.logger != nil {
				m.logger.Printf("%d: {{.UnexportedMethodName}} stream send error: %v", n.id, err)
			}
		}(node)
	}

	return nil
}
{{- end -}}
{{- end -}}
