
{{/* Remember to run 'make goldenanddev' after editing this file. */}}

{{- if not .IgnoreImports}}
package {{.PackageName}}

import "golang.org/x/net/context"

{{- end}}

{{range $elm := .Services}}

{{if .QuorumCall}}

{{if .PerNodeArg}}

// {{.MethodName}} invokes the {{.MethodName}} on each node in configuration c,
// with the argument returned by the provided perNodeArg function
// and returns the result as a {{.TypeName}}.
func (c *Configuration) {{.MethodName}}(ctx context.Context, {{.MethodArg}}) (*{{.TypeName}}, error) {
	return c.mgr.{{.UnexportedMethodName}}(ctx, c, {{.MethodArgUse}})
}

{{else}}

// {{.MethodName}} invokes a {{.MethodName}} quorum call on configuration c
// and returns the result as a {{.TypeName}}.
func (c *Configuration) {{.MethodName}}(ctx context.Context, args *{{.FQReqName}}) (*{{.TypeName}}, error) {
	return c.mgr.{{.UnexportedMethodName}}(ctx, c, args)
}

{{- end -}}
{{- end -}}
{{- end -}}
