{{/* FIXME: Remember to run 'go generate' after editing this file. */}}
{{$pkgName := .PackageName}}

{{- if not .IgnoreImports}}
package {{$pkgName}}

import (
	"time"

	"golang.org/x/net/context"

	"google.golang.org/grpc"
	"google.golang.org/grpc/codes"
)
{{- end -}}

{{range $elm := .Services}}

{{if .Streaming}}
func (m *Manager) {{.UnexportedMethodName}}(c *Configuration, args *{{.ReqName}}) error {
	for _, node := range c.nodes {
		go func(n *Node) {
			err := n.{{.UnexportedMethodName}}Client.Send(args)
			if err == nil {
				return
			}
			if m.logger != nil {
				m.logger.Printf("%d: {{.UnexportedMethodName}} stream send error: %v", n.id, err)
			}
		}(node)
	}

	return nil
}

{{else -}}

type {{.UnexportedTypeName}} struct {
	nid   uint32
	reply *{{.RespName}}
	err   error
}

func (m *Manager) {{.UnexportedMethodName}}(c *Configuration, args *{{.ReqName}}) (*{{.TypeName}}, error) {
	var (
		replyChan   = make(chan {{.UnexportedTypeName}}, c.n)
		stopSignal  = make(chan struct{})
		replyValues = make([]*{{.RespName}}, 0, c.n)
		errCount    int
		quorum      bool
		reply       = &{{.TypeName}}{NodeIDs: make([]uint32, 0, c.n)}
		ctx, cancel = context.WithCancel(context.Background())
	)

	for _, n := range c.nodes {
		go func(node *Node) {
			reply := new({{.RespName}})
			ce := make(chan error, 1)
			start := time.Now()
			go func() {
				select {
				case ce <- grpc.Invoke(
					ctx,
					"/{{$pkgName}}.{{.ServName}}/{{.MethodName}}",
					args,
					reply,
					node.conn,
				):
				case <-stopSignal:
					return
				}
			}()
			select {
			case err := <-ce:
				switch grpc.Code(err) { // nil -> codes.OK
				case codes.OK, codes.Canceled:
					node.setLatency(time.Since(start))
				default:
					node.setLastErr(err)
				}
				replyChan <- {{.UnexportedTypeName}}{node.id, reply, err}
			case <-stopSignal:
				return
			}
		}(n)
	}

	defer close(stopSignal)
	defer cancel()

	for {

		select {
		case r := <-replyChan:
			if r.err != nil {
				errCount++
				goto terminationCheck
			}
			replyValues = append(replyValues, r.reply)
			reply.NodeIDs = append(reply.NodeIDs, r.nid)
			if reply.Reply, quorum = c.qspec.{{.MethodName}}QF(replyValues); quorum {
				return reply, nil
			}
		case <-time.After(c.timeout):
			return reply, TimeoutRPCError{c.timeout, errCount, len(replyValues)}
		}

	terminationCheck:
		if errCount+len(replyValues) == c.n {
			return reply, IncompleteRPCError{errCount, len(replyValues)}
		}

	}
}

{{- end -}}
{{- end -}}
