
{{/* Remember to run 'make gengolden' after editing this file. */}}

{{- if not .IgnoreImports}}
package {{.PackageName}}
{{- end}}

type QuorumSpec interface {
{{range $elm := .Services}}
{{- if not .Streaming}}
	{{.MethodName}}QF(replies []*{{.RespName}}) (*{{.RespName}}, bool)
{{- end -}}
{{- end}}
	IDs() []uint32
}
