
{{/* Remember to run 'make gengolden' after editing this file. */}}

{{- if not .IgnoreImports}}
package {{.PackageName}}
{{- end}}

// QuorumSpec is the interface that wraps every quorum function.
type QuorumSpec interface {
{{- range $elm := .Services}}
{{- if not .Streaming}}
	// {{.MethodName}}QF is the quorum function for the {{.MethodName}} RPC method.
	{{.MethodName}}QF(replies []*{{.RespName}}) (*{{.RespName}}, bool)
{{- end -}}
{{- end}}
}
