name: Go Test
on:
  push:
    branches: [master]
  pull_request:

jobs:
  test:
    strategy:
      matrix:
        platform: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.platform }}

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
          cache: true
      - uses: arduino/setup-protoc@v3.0.0
        with:
          version: "32.1"
          include-pre-releases: true
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install tools
        run: |
          make tools
          make installgorums

      - name: Run Tests
        run: make test
