name: golangci-lint
on:
  push:
    branches: [master]
  pull_request:
permissions:
  contents: read
  # Optional: allow read access to pull request. Use with `only-new-issues` option.
  pull-requests: read

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
          cache: true
      - uses: arduino/setup-protoc@v3.0.0
        with:
          version: "32.1"
          include-pre-releases: true
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run Make
        run: make

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: latest
          args: --timeout=5m --disable=errcheck
          only-new-issues: true
